# ignore auto-save-list and elpa directories created by emacs
auto-save-list/
elpa/

# ignore orher status/cache files
ac-comphist.dat
session.*

# ignore local customization file
local.el

# ignore node installed files
node_modules/

# ignore backup files, compiled files, etc
*.elc
*~
